<nav>
    <span>
        <h1><em>Label</em></h1>
        <a href="/">Home</a>
        <a href="/label">Artists</a>
        <a href="/label/new">Submissions</a>
    
    </span>

    <form id="search-bar">
        <input 
            id="search-term"
            type="text"
            placeholder="Search"
            value=""
        >
        <!-- <input type="submit"> -->
    </form>
</nav>