<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Artists | Label</title>
</head>
<body>
    <%- include('./partials/nav')  %> 


    <% for(let i = 0; i < allArtists.length; i++) {%> 
        <a href="/label/<%= allArtists[i]._id %> ">
            <figure class="artist-list">
                <img src="<%= allArtists[i].images[0] %> " alt="Image of" >
                <figcaption><%= allArtists[i].artistName %> </figcaption>
            </figure>
            
            <% } %>    
</body>
</html>